version: 2.1

jobs:
  build:
    docker:
      - image: circleci/python:3.9  # Use a Docker image with Python pre-installed
    steps:
      - checkout  # Checkout the source code from the repository

      - run:
          name: Install dependencies
          command: |
            python -m pip install --upgrade pip
            pip install telebot  # Install Python dependencies if any

      - run:
          name: Make bgmi binary executable
          command: |
            chmod +x bgmi  # Ensure the bgmi binary is executable

      - run:
          name: Run the bot for 12 hours
          command: |
            nohup python bot.py &  # Run the Python bot in the background
            sleep 43200  # Sleep for 12 hours (43200 seconds) to keep the job alive

workflows:
  version: 2
  build:
    jobs:
      - build  # The "build" job is run in this workflow
